@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BeaufortforLOL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/BeaufortforLOL-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'BeaufortforLOL';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/BeaufortforLOL-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'BeaufortforLOL';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/BeaufortforLOL-Bold.woff2) format('woff2');
}

:root {
  font-family: BeaufortforLOL, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

